<!-- app/views/applicants/new.html.erb -->
 
<h1>register</h1>

<from action="test/action" >
username:<input name="username" ></input>
</br>
password:<input name="password"></input>
<button type="submit">submit</button>
<button type="rest" >rest</rest>
</from>
